<div>
  <header>
    <p>Add an item:</p>
    <input type="text" (keyup.enter)="addItem($event)">
  </header>
  <div class="table">
    <div class="col" *ngFor="let header of headers" id="{{header.id}}">
      <h3>{{header.label}}</h3>
      <ng-container *ngFor="let item of items">
        <button 
          *ngIf="item.id === header.id"
          (click)="moveItem(item)"
          value={{item.id}}
        >
          {{item.content}}
        </button>
      </ng-container>
    </div>
  </div>
</div>